/* static/css/styles.css */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.navbar img {
    margin-right: auto; /* Pushes other items to the right */
}


.navbar {
    display: flex;
    align-items: right;

    justify-content: space-between;
    padding: 1rem;
    background-color: #333;
    color: #fff;
}
.navbar .links {
    display: flex;
    align-items: right;
    justify-content: flex-end;
    /*justify-content: space-between; */
    padding: 1rem;
    background-color: #333;
    color: #fff;
}

.navbar .logo {
    height: 50px; /* Adjust the height as needed */
}

.navbar a {
    color: #fff;
    padding: 0 1rem;
    text-decoration: none;
    transition: color 0.3s;
}
.navbar a:hover {
    color: #11429c;
}
.hero {
    background: url('/static/images/backgroundforwebapp.jpeg') no-repeat center center;
    background-size: cover;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /*this is new for clarity*/
}
.hero h1 {
    margin: 0;
    font-size: 2.5rem;
}
.hero p {
    font-size: 1.2rem;
}
.cta-button {
    background-color: #11429c;
    color: #fff;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.cta-button:hover {
    background-color: #11429c;
}

.container { /* this onwards, is the container for the form */
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.appointment-form {
    display: flex;
    flex-direction: column;
}

.appointment-form p {
    margin: 0.5rem 0;
}

.appointment-form input,
.appointment-form select,
.appointment-form textarea {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.appointment-form button.cta-button {
    cursor: pointer;
    padding: 10px 15px;
    margin-top: 1rem;
}

.container { /* this onwards, is the container for the schedule viewing for mechanic */
    max-width: 960px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.appointments-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

.appointments-table th,
.appointments-table td {
    border: 1px solid #ddd;
    padding: 0.5rem;
    text-align: left;
}

.appointments-table th {
    background-color: #333;
    color: #fff;
}

.appointments-table td {
    background-color: #fff;
}

.appointments-table tbody tr:nth-child(odd) {
    background-color: #eee; /* Zebra striping for table rows */
}

/* for the about us page: */
.team-member {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #ddd; /* Adds a subtle line between team members */
}

.team-photo {
    width: 100%; /* Adjust this as necessary */
    height: auto;
    display: block;
    margin: 0 auto 2rem; /* Center the image and add margin below */
}

.team-member h3 {
    margin-top: 0;
}

.social-link {
    color: #0077b5; /* LinkedIn blue */
    text-decoration: none;
}

.social-link:hover {
    text-decoration: underline;
}
